
@{
    ViewData["Title"] = "Memberlist";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<h1>Memberlist</h1>
<br />
<br />

<br />
<br />
<br />

<table id="BookList" class="display" width="100%">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>MobileNumber</th>
            <th>Pincode</th>
            <th>City</th>
            <th>State</th>
            <th>DOB</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {

            <tr>
                <td width="30%">@member.MemberName</td>
                <td width="30%">@member.Email</td>
                <td width="30%">@member.MobileNumber</td>
                <td width="30%">@member.Pincode</td>
                <td width="30%">@member.City</td>
                <td width="30%">@member.State</td>
                <td width="30%">@member.DOB</td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#BookList").DataTable();
            //GetEmployeeRecord();
        })
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
}

